<section class="section-inputs">
    <div class="container-input">
        <todo-input
            [ariaLabel]="'Nueva tarea'"
            [placeholder]="'Ingresa nueva tarea...'"
            [maxLength]="100"
            [minLength]="1"
            [(value)]="newTodo"
        />
    </div>    
    <todo-button
        [ariaLabel]="'Agregar nueva tarea'"
        [disabled]="!newTodo"
        (click)="onAddTodo()">
        <mat-icon aria-hidden="false" aria-label="Agregar nueva tarea" fontIcon="add"></mat-icon>
    </todo-button>
</section>

<section class="section-summary">
    <div>
        <todo-typography [color]="'blue'" [fontWeight]="'bold'" [fontSize]="'14px'" [display]="'inline'" [textAlign]="'left'">
            Tareas creadas
        </todo-typography>
        <todo-bubble>
            {{countTasks()}}
        </todo-bubble>
    </div>
    <div>
        <todo-typography [color]="'purple'" [fontWeight]="'bold'" [fontSize]="'14px'" [display]="'inline'" [textAlign]="'right'">
            Concluidas
        </todo-typography>
        <todo-bubble>
            {{completedTasks()}} de {{countTasks()}}
        </todo-bubble>
    </div>
</section>

<section class="section-content" *ngFor="let task of tasks()">
    <todo-card>
        <todo-checkbox
            [value]="task.isCompleted"
            [lineThrough]="task.isCompleted"
            [color]="task.isCompleted ? 'deactivated' : 'regular'"
            (change)="onCompletedTodo(task.id)"
        >
            {{task.title}}
        </todo-checkbox>
        <mat-icon
            aria-hidden="false"
            aria-label="Remover tarea"
            class="delete-icon"
            fontIcon="delete"
            (click)="onDeleteTodo(task.id)">
        </mat-icon>
    </todo-card>
</section>

<section class="section-no-content" *ngIf="tasks().length <= 0">
    <h3>No has ingresado tareas por el momento</h3>
    <mat-icon
        aria-hidden="false"
        aria-label="No existen tareas por el momento"
        fontIcon="hourglass_empty">
    </mat-icon>
</section>

