button {
    color: var(--gray-100);
    background-color: var(--blue-dark);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--blue-dark)
}

button:disabled {
    background-color: var(--gray-200);
}