header {
    background-color: var(--gray-700);
    padding: 72px;
    text-align: center;
    z-index: 1;
    position: relative;
}

header h1 {
    display: inline-block;
    margin: 0 10px;
}

header h1:first-of-type {
    color: var(--blue);
}

header h1:last-of-type {
    color: var(--purple-dark);
}

main {
    background-color: var(--gray-600);
    min-height: calc(100vh - 72px - 80px);
}

footer {
    background-color: var(--gray-700);
    text-align: center;
}

footer h4 {
    color: var(--gray-300);
    padding: 16px;
}